*
{
    margin: 0px;
    padding: 0px;
}

body {
    height: 50vw;
    width: 100vw;
    background-image: url(./images/jeremy-allouche-YStboKiFPVw-unsplash.jpg);
    background-size: 100% 100%;
}

.keys{
    width: 95%;
    position: relative;
    top: 40vh; 
    height: 25vh;
    display: flex;
    margin: 0 auto;
    border: 2px solid red;
    justify-content: space-evenly;
    align-items: center;
}

.key{
    border-radius: 0.5rem;
    border: 0.4rem solid gray; /* obrazuva grey kutiya */
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.07s ease;
}

kbd{
    display: block;
    font-size: 4rem;
    color: beige;
}

span{
    font-size: 1.5rem;
    color: red;
    text-transform: uppercase;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}